{{ ansible_managed | comment }}

services:
  owntracks-frontend:
    image: owntracks/frontend
    ports:
      - "127.0.0.1:{{ owntracks_web_port }}:80"   # host:container
    environment:
      - SERVER_HOST=otrecorder
      - SERVER_PORT=8083
    restart: unless-stopped
