{{ ansible_managed | comment }}

# Starship
eval "$(starship init zsh)"

# PATH
export PATH="$PATH:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/sbin"

# Default text editor
export VISUAL=micro
export EDITOR="$VISUAL"

{% if ansible_os_family == 'Darwin' %}
# Homebrew (must run before any $(brew ...) usage)
eval "$(/opt/homebrew/bin/brew shellenv)"
{% endif %}

{% if user_config.user == 'bolino' %}
# SSH key path (scripts/tools that use SSH_KEY_PATH)
export SSH_KEY_PATH="$HOME/.ssh/id_ed25519"
{% endif %}

# ZSH plugins
{% if ansible_os_family == 'Darwin' %}
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{% else %}
source $HOME/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $HOME/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
{% endif %}

{% if ansible_os_family == 'Debian' %}
# Save ZSH history
HISTFILE="$HOME/.zsh_history"
HISTSIZE=1000
SAVEHIST=1000
setopt appendhistory
{% endif %}

# Language
export LANG=en_US.UTF-8
# export LC_ALL=en_US.UTF-8  # Uncomment to override all locale settings

# Aliases
alias dfh='df -h'				# disk free with human reading
alias duh='du -hd1 | sort -h'	# disk usage with human reading, only first level
{% if ansible_os_family == 'Debian' %}
alias l='ls -lFh --color=auto'
alias ll='ls -alFh --color=auto'
alias start='systemctl start'
alias restart='systemctl restart'
alias stop='systemctl stop'
alias status='systemctl status'
{% endif %}
{% if ansible_os_family == 'Darwin' %}
alias l='eza --long --icons --grid --octal-permissions --hyperlink --time-style=iso'
alias ll='eza --long --icons --grid --octal-permissions --hyperlink --time-style=iso --all'
alias git_force_pull='git fetch --all && git reset --hard origin/main && git pull'
alias ruffcheck='ruff check --fix && ruff format'
alias docker_psa='docker ps --format "table {{ '{{' }}.Names{{ '}}' }}\t{{ '{{' }}.Ports{{ '}}' }}\t{{ '{{' }}.Status{{ '}}' }}"'
alias biomecheck='biome check --write .'

### MacOS ###

# iTerm2 shell integration
source $HOME/.iterm2_shell_integration.zsh

# Homebrew curl (http3 support)
export PATH="/opt/homebrew/opt/curl/bin:$PATH"

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$(brew --prefix nvm)/nvm.sh" ] && \. "$(brew --prefix nvm)/nvm.sh" # This loads nvm
[ -s "$(brew --prefix nvm)/etc/bash_completion.d/nvm" ] && \. "$(brew --prefix nvm)/etc/bash_completion.d/nvm" # This loads nvm bash_completion

# Docker + Ansible
export DOCKER_HOST="unix://$HOME/.docker/run/docker.sock"
{% endif %}
