{{ ansible_managed | comment }}

### Starship ###
eval "$(starship init zsh)"

### $PATH ###

export PATH="$PATH:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/sbin"

# Set the default text editor, set the standardized VISUAL and EDITOR environment variables
export VISUAL=micro
export EDITOR="$VISUAL"

{% if ansible_os_family == 'Darwin' %}
# SSH key path
export SSH_KEY_PATH="{{ user_home }}/.ssh/id_ed25519"
{% endif %}

# ZSH plugins
source $HOME/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $HOME/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh

{% if ansible_os_family == 'Debian' %}
### Save ZSH history ###
HISTFILE="{{ user_home }}/.zsh_history"
HISTSIZE=1000
SAVEHIST=1000
setopt appendhistory
{% endif %}

### User configuration ###

# You may need to manually set your language environment
export LANG=en_US.UTF-8 # Global setting, does not overrides anything
#export LC_ALL=en_US.UTF-8 # Overrides all locale settings

# Aliases
alias dfh='df -h'				# disk free with human reading
alias duh='du -hd1 | sort -h'	# disk usage with human reading, only first level
alias cat='bat'
{% if ansible_os_family == 'Debian' %}
alias l='ls -lFh --color=auto'
alias ll='ls -alFh --color=auto'
alias start='systemctl start'
alias restart='systemctl restart'
alias stop='systemctl stop'
alias status='systemctl status'
{% endif %}
{% if ansible_os_family == 'Darwin' %}
alias l='eza --long --icons --grid --octal-permissions --hyperlink --time-style=iso'
alias ll='eza --long --icons --grid --octal-permissions --hyperlink --time-style=iso --all'
alias git_force_pull='git fetch --all & git reset --hard origin/main && git pull'
alias ruffcheck='ruff check --fix && ruff format'
alias docker_psa='docker ps --format "table {{ '{{' }}.Names{{ '}}' }}\t{{ '{{' }}.Ports{{ '}}' }}\t{{ '{{' }}.Status{{ '}}' }}"'
alias biomecheck='biome check --write .'
{% endif %}

# iTerm2 shell integration
source $HOME/.iterm2_shell_integration.zsh

{% if ansible_os_family == 'Darwin' %}
# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# Use the Homebrew-installed curl instead of the system one - has http3 support
export PATH="/opt/homebrew/opt/curl/bin:$PATH"

# NVM
source $(brew --prefix nvm)/nvm.sh
export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Docker + Ansible
export DOCKER_HOST="unix:///Users/bolino/.docker/run/docker.sock"
{% endif %}
