{{ ansible_managed | comment }}

Types: deb deb-src
URIs: https://packagecloud.io/ookla/speedtest-cli/debian/
Suites: {{ debian_distribution }}
Components: main
Signed-By: /etc/apt/keyrings/ookla_speedtest-cli-archive-keyring.gpg
