{{ ansible_managed | comment }}

Types: deb
URIs: http://download.owncloud.org/download/repositories/production/Debian_{{ debian_distribution_version }}
Suites: /
Components: /
Signed-By: /etc/apt/keyrings/owncloud.asc
