# venv
.venv/
venv/

# Python packaging
.python-version
__pycache__/
__pypackages__/

# Ruff
.ruff_cache/

# secrets
secrets.*
/inventory.*
/roles/cron/templates/*
/roles/ssh/templates/*
/roles/websites/defaults/*
/roles/websites/templates/*
/roles/websites/vars/*
/hosts_vars/*
/roles/databases-backup-over-scp/defaults/main.yaml
/roles/postgres/defaults/main.yaml
