# venv
.venv/
venv/
ENV/

# Python
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ruff_cache/
.python-version

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ansible
.ansible/

# Secrets files
# Generic secrets files
/inventory.*
/host_vars/*
roles/**/vars/secrets.yml
roles/**/vars/secrets.yaml
vault.yml
*.vault
.vault_pass
# Example secrets files
!roles/**/vars/secrets.yml.example
!roles/**/vars/secrets.yaml.example
# Specific secrets (#TODO: to be made generic)
/roles/cron/templates/*
/roles/ssh/templates/*
/roles/websites/templates/*
/roles/transmission/templates/*.conf.j2
