# venv
.venv/
venv/

# Python packaging
.python-version
__pycache__/
__pypackages__/

# Ruff
.ruff_cache/

# secrets
/inventory.*
secrets.*
**/sites-available/*
/roles/cron/templates/*
/roles/ssh/templates/*
/roles/websites/*
/hosts_vars/*
/roles/databases-backup-over-scp/defaults/main.yaml
/roles/postgres/defaults/main.yaml
