services:
  wg-easy:
    container_name: wg-easy
    image: ghcr.io/wg-easy/wg-easy:latest
    environment:
      WG_HOST: "{{ wg_easy_domain }}"
      PASSWORD_HASH: "{{ wg_easy_admin_password_hash | replace('$', '$$') }}"
      WG_DEFAULT_DNS: "{{ wg_easy_default_dns }}"
    volumes:
      - "/opt/wg-easy:/etc/wireguard"
    ports:
      - "51820:51820/udp"
      - "127.0.0.1:{{ wg_easy_web_port }}:51821/tcp"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
    restart: unless-stopped
    networks:
      - pi-hole_default

networks:
  pi-hole_default:
    external: true
