{{ ansible_managed | comment }}

format = """
$username\
$hostname\
$ssh \
$shlvl\
$kubernetes\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$package\
$php\
$python\
$bun\
$terraform\
$memory_usage\
$direnv\
$env_var\
$custom\
$sudo\
$cmd_duration\
$line_break\
$jobs\
$time\
$status\
$os\
$container\
$shell\
$character"""

[username]
style_user = '{{ "yellow bold" if user_config.user == ansible_user else "green bold" }}'
style_root = 'red bold'
format = '[$user]($style)'
show_always = true

[hostname]
ssh_only = true
format = '@[$hostname](bold red)($style)'
trim_at = ''

[directory]
truncate_to_repo = false
format ='[$path]($style)[$read_only]($read_only_style) '

[directory.substitutions]
"code" = "󰨞"

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style) '

[os]
format = "[$symbol]($style)"
disabled = false

[os.symbols]
Debian = "🌀 "
Kali = "🐉 "
Linux = "🐧 "
Macos = " "
Ubuntu = "🎯 "

[package]
format = '[$symbol$version]($style) '

[python]
format = ' [${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
# Only show python if a requirements.txt, .python-version, or pyproject.toml exists
# This prevents it from running 'python3 --version' in every single folder
detect_extensions = ['py']
detect_files = [
    '.python-version',
    'requirements.txt',
    'pyproject.toml',
    'uv.lock',
]
