- name: Install direnv with homebrew
  homebrew:
    name: direnv
    state: latest
  when: ansible_facts["os_family"] == "Darwin"

- name: Install direnv with apt
  apt:
    name: direnv
    state: latest
  when: ansible_facts["os_family"] == "Debian"

- name: Create direnv config directory
  file:
    path: "{{ user_home }}/.config/direnv"
    state: directory
    mode: u=rwx,g=rx,o=rx

- name: Check if direnv config file exists
  stat:
    path: "{{ user_home }}/.config/direnv/direnv.toml"
  register: direnv_config

- name: Backup existing config file if it exists
  copy:
    remote_src: true
    src: "{{ user_home }}/.config/direnv/direnv.toml"
    dest: "{{ user_home }}/.config/direnv/direnv.toml_{{ ansible_date_time.iso8601 }}.bak"
    mode: preserve # Preserve the file permissions of the original file
  when: direnv_config.stat.exists

- name: Configure direnv for taking .env files into account
  template:
    src: direnv.toml.j2
    dest: "{{ user_home }}/.config/direnv/direnv.toml"
    mode: u=rw,g=r,o=r

- name: Configure direnv in .zshrc
  become: false
  vars:
    zshrc_path: "{{ ansible_env.HOME }}/.zshrc"
  blockinfile:
    path: "{{ zshrc_path }}"
    marker: "# {mark} direnv hook added by ansible. See https://direnv.net/"
    block: |
      eval "$(direnv hook zsh)"
