- name: Configure direnv in .zshrc
  become: false
  vars:
    zshrc_path: "{{ ansible_facts['env']['HOME'] }}/.zshrc"
  blockinfile:
    path: "{{ zshrc_path }}"
    marker: "### {mark} direnv (Ansible-managed) ###"
    block: |
      eval "$(direnv hook zsh)"
