{{ ansible_managed | comment }}

{% set _ssl = plex_le_tls_ready | default(false) %}

{% macro plex_proxy() %}
	location / {
		proxy_pass http://127.0.0.1:{{ plex__port }};
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Plex-Client-Identifier $http_x_plex_client_identifier;
		proxy_read_timeout 86400;
		proxy_buffering off;
	}
	access_log /var/log/nginx/{{ plex__hostname }}.access.log;
	error_log /var/log/nginx/{{ plex__hostname }}.error.log;
{% endmacro %}

{% if _ssl %}
server {
	listen 443 ssl;
	listen [::]:443 ssl;
	server_name {{ plex__hostname }};
	ssl_certificate /etc/letsencrypt/live/{{ plex__hostname }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ plex__hostname }}/privkey.pem;
	{{ plex_proxy() }}
}
{% endif %}

server {
	listen 80;
	listen [::]:80;
	server_name {{ plex__hostname }};
	location ^~ /.well-known/acme-challenge/ {
		root /var/www/html;
		default_type "text/plain";
	}
{% if _ssl %}
	location / {
		return 301 https://$host$request_uri;
	}
{% else %}
	{{ plex_proxy() }}
{% endif %}
}
