{{ ansible_managed | comment }}

Alias /owncloud "{{ owncloud__path }}"

<Directory {{ owncloud__path }}/>
Options +FollowSymlinks
AllowOverride All
Options -Indexes

<IfModule mod_dav.c>
	Dav off
</IfModule>

SetEnv HOME {{ owncloud__path }}
SetEnv HTTP_HOME {{ owncloud__path }}

</Directory>
