{{ ansible_managed | comment }}

Types: deb
URIs: https://nginx.org/packages/debian/
Suites: {{ debian_distribution }}
Components: nginx
Architectures: {{ (ansible_facts['architecture'] == 'aarch64') | ternary('arm64', ansible_facts['architecture']) }}
Signed-By: /usr/share/keyrings/nginx-archive-keyring.gpg
