{{ ansible_managed | comment }}

services:
  omni-tools:
    image: iib0011/omni-tools:latest
    container_name: omni-tools
    restart: unless-stopped
    ports:
      - "{{ omnitools_web_port }}:80"
