- name: Configure UFW rules
  ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto | default('tcp') }}"
    comment: "{{ item.comment }}"
  loop: "{{ ufw_rules }}"
  when: ufw_rules | length > 0
  become: true

- name: Reload UFW
  ufw:
    state: reloaded
  become: true
