{{ ansible_managed | comment }}

services:
  uptime-kuma:
    image: louislam/uptime-kuma:{{ uptime_kuma__image_tag }}
    container_name: uptime-kuma
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ uptime_kuma__web_port }}:3001"
    volumes:
      - uptime-kuma:/app/data

volumes:
  uptime-kuma:
