- name: Install fail2ban
  apt:
    name: fail2ban
    state: present
    update_cache: true
  become: true

- name: Add jail.local file
  template:
    src: jail.local.j2
    dest: "/etc/fail2ban/jail.local"
    owner: root
    group: root
    mode: u=rw,g=r,o=r # 644
  notify: Restart fail2ban
  become: true

- name: Add jail.d/* files
  template:
    src: "templates/jail.d/{{ item.name }}.conf"
    dest: "/etc/fail2ban/jail.d/{{ item.name }}.conf"
    owner: root
    group: root
    mode: u=rw,g=r,o=r # 644
  loop: "{{ fail2ban__jails }}"
  notify: Restart fail2ban
  become: true

- name: Add filter.d/* files
  template:
    src: "templates/filter.d/{{ item.name }}.conf"
    dest: "/etc/fail2ban/filter.d/{{ item.name }}.conf"
    owner: root
    group: root
    mode: u=rw,g=r,o=r # 644
  loop: "{{ fail2ban__filters }}"
  notify: Restart fail2ban
  become: true

- name: Enable and start fail2ban service
  systemd:
    name: fail2ban
    enabled: true
    state: started
  become: true
