{{ ansible_managed | comment }}

# Main repository
Types: deb deb-src
URIs: http://ftp.fr.debian.org/debian/
Suites: {{ debian_distribution }}
Components: main contrib non-free non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

# Security updates
Types: deb
URIs: http://deb.debian.org/debian-security
Suites: {{ debian_distribution }}-security
Components: main contrib non-free non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

# Updates ("volatile")
Types: deb deb-src
URIs: http://ftp.fr.debian.org/debian/
Suites: {{ debian_distribution }}-updates
Components: main contrib non-free non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

# Backports (commented by default)
# Types: deb
# URIs: http://ftp.fr.debian.org/debian/
# Suites: {{ debian_distribution }}-backports
# Components: main contrib non-free non-free-firmware
# Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
