{
	"autoclose": true,
	"comment": true,
	"diff": true,
	"ftoptions": true,
	"linter": true,
	"literate": true,
	"pluginchannels": [
		"https://raw.githubusercontent.com/micro-editor/plugin-channel/master/channel.json"
	],
	"pluginrepos": [],
	"savecursor": true,
	"softwrap": true,
	"status": true
}
