{
    "autoclose": true,
    "comment": true,
    "diff": true,
    "eofnewline": false,
    "fastdirty": true,
    "ftoptions": true,
    "hidehelp": false,
    "ignorecase": false,
    "linter": true,
    "literate": true,
    "matchbrace": false,
    "matchbraceleft": false,
    "pluginchannels": [
        "https://raw.githubusercontent.com/micro-editor/plugin-channel/master/channel.json"
    ],
    "pluginrepos": [],
    "softwrap": true,
    "status": true,
    "termtitle": false
}
