# System-level Micro installation, then per-user configuration.

- name: Install Micro text editor with homebrew
  homebrew:
    name: micro
    state: latest
  when: ansible_facts["os_family"] == "Darwin"

- name: Install Micro text editor with apt
  apt:
    name: micro
    state: latest
    update_cache: true
  when: ansible_facts["os_family"] == "Debian"
  become: true

# Per-user configuration: deploy settings.json
- name: Configure Micro for users
  include_tasks: configure_user.yaml
  loop: "{{ shell_users_list }}"
  loop_control:
    loop_var: user_config
