- name: Update apt cache
  apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Install required packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true
  become: true

- name: Create Docker GPG key directory
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: u=rwx,g=rx,o=rx # 755
  become: true

- name: Download Docker GPG key
  get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: u=rw,g=r,o=r # 644
  become: true

- name: Install Docker sources
  template:
    src: docker.sources.j2
    dest: /etc/apt/sources.list.d/docker.sources
    mode: u=rw,g=r,o=r # 644
  become: true

- name: Install Docker packages
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: true
  notify: restart docker
  become: true

- name: Ensure Docker service is enabled and started
  systemd:
    name: docker
    state: started
    enabled: true
    daemon_reload: true
  become: true

- name: Verify Docker installation
  command: docker run hello-world
  register: docker_hello
  changed_when: false
  failed_when: false
  become: true

- name: Display Docker verification result
  debug:
    var: docker_hello.stdout_lines
