- name: Update apt cache
  apt:
    update_cache: true
    cache_valid_time: 3600

- name: Update Docker packages
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
    update_cache: true
  notify: Restart Docker
