- name: Include Pi-hole secrets
  include_vars: secrets.yaml

- name: Create Pi-hole installation directory
  file:
    path: /opt/pi-hole
    state: directory
    mode: u=rwx,g=,o= # 700 (only the user can read, write and execute)

- name: Copy docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "/opt/pi-hole/docker-compose.yml"
    mode: u=rw,g=r,o=r # 644
  notify: recreate pihole container

- name: Start Pi-hole container
  community.docker.docker_compose_v2:
    project_src: "/opt/pi-hole"
    state: present
    remove_orphans: true
    build: "never"
    pull: "always"
    recreate: always

- name: Check if DNS is properly configured
  command: dig +short {{ pihole__domain }}
  register: dns_check
  changed_when: false
  failed_when: dns_check.stdout == ""

- name: Check if SSL certificate exists
  stat:
    path: "/etc/letsencrypt/live/{{ pihole__domain }}/fullchain.pem"
  register: ssl_cert_exists

- name: Deploy Nginx vhost for Pi-hole (only if SSL doesn't exist)
  template:
    src: "{{ pihole__domain }}.conf.j2"
    dest: "/etc/nginx/sites-available/{{ pihole__domain }}.conf"
    mode: u=rw,g=r,o=r  # 644
  notify: Reload nginx config
  when: not ssl_cert_exists.stat.exists

- name: Enable Nginx vhost for Pi-hole (only if SSL doesn't exist)
  file:
    src: "/etc/nginx/sites-available/{{ pihole__domain }}.conf"
    dest: "/etc/nginx/sites-enabled/{{ pihole__domain }}.conf"
    state: link
    force: true
  notify: Reload nginx config
  when: not ssl_cert_exists.stat.exists

- name: Configure SSL with Certbot (only if SSL doesn't exist)
  command: certbot --nginx -d {{ pihole__domain }} --non-interactive --agree-tos --email me@adriencarpentier.com
  args:
    creates: "/etc/letsencrypt/live/{{ pihole__domain }}/fullchain.pem"
  when: dns_check.stdout != "" and not ssl_cert_exists.stat.exists
