- name: Check if user exists
  getent:
    database: passwd
    key: "{{ user_config.user }}"
  register: starship_user_exists
  failed_when: false

- name: Configure Starship for user
  when: user_config.user in starship_user_exists.ansible_facts.getent_passwd.keys()
  block:
    - name: Create .config directory for user
      ansible.builtin.file:
        path: "{{ user_config.home }}/.config"
        state: directory
        mode: u=rwx,g=rx,o=rx # 755
        owner: "{{ user_config.user }}"
      become: true

    - name: Backup existing starship.toml if exists
      ansible.builtin.copy:
        remote_src: true
        src: "{{ user_config.home }}/.config/starship.toml"
        dest: "{{ user_config.home }}/.config/starship.toml_{{ ansible_facts['date_time']['iso8601'] }}.bak"
        mode: preserve
      failed_when: false
      become: true

    - name: Add starship.toml config file
      ansible.builtin.template:
        src: "starship_{{ 'local' if ansible_facts['os_family'] == 'Darwin' else 'remote' }}.toml.j2"
        dest: "{{ user_config.home }}/.config/starship.toml"
        mode: u=rw,g=r,o=r # 644 (read access for everyone and also write access for the owner of the file)
        owner: "{{ user_config.user }}"
      become: true

    - name: Add Starship to user's .zshrc file
      ansible.builtin.blockinfile:
        dest: "{{ user_config.home }}/.zshrc"
        block: "{{ lookup('template', '.zshrc.j2') }}"
        marker: "### {mark} Starship (Ansible-managed) ### "
        mode: u=rw,g=r,o=r # 644 (read access for everyone and also write access for the owner of the file)
        create: true
        owner: "{{ user_config.user }}"
      become: true
