- name: Check if user exists (Debian)
  getent:
    database: passwd
    key: "{{ user_config.user }}"
  register: starship_user_exists
  failed_when: false
  when: ansible_facts['os_family'] == 'Debian'

- name: Check if user home exists (Darwin)
  ansible.builtin.stat:
    path: "{{ user_config.home }}"
  register: starship_user_exists_darwin
  when: ansible_facts['os_family'] == 'Darwin'

- name: Configure Starship for user
  when: >-
    (ansible_facts['os_family'] == 'Debian'
    and user_config.user in (starship_user_exists.get('ansible_facts', {}).get('getent_passwd', {}).keys() | default([])))
    or (ansible_facts['os_family'] == 'Darwin' and (starship_user_exists_darwin.stat.exists | default(false)))
  block:
    - name: Create .config directory for user
      ansible.builtin.file:
        path: "{{ user_config.home }}/.config"
        state: directory
        mode: u=rwx,g=,o= # 700
        owner: "{{ user_config.user }}"
      become: "{{ user_config.user != ansible_user }}"

    - name: Backup existing starship.toml if exists
      ansible.builtin.copy:
        remote_src: true
        src: "{{ user_config.home }}/.config/starship.toml"
        dest: "{{ user_config.home }}/.config/starship.toml_{{ ansible_facts['date_time']['iso8601'] }}.bak"
        mode: preserve
      failed_when: false
      become: "{{ user_config.user != ansible_user }}"

    - name: Add starship.toml config file
      ansible.builtin.template:
        src: "starship_{{ 'local' if ansible_facts['os_family'] == 'Darwin' else 'remote' }}.toml.j2"
        dest: "{{ user_config.home }}/.config/starship.toml"
        mode: u=rw,g=r,o=r # 644 (read access for everyone and also write access for the owner of the file)
        owner: "{{ user_config.user }}"
      become: "{{ user_config.user != ansible_user }}"

    - name: Add Starship to user's .zshrc file
      ansible.builtin.blockinfile:
        dest: "{{ user_config.home }}/.zshrc"
        block: "{{ lookup('template', '.zshrc.j2') }}"
        marker: "### {mark} Starship (Ansible-managed) ### "
        mode: u=rw,g=r,o=r # 644 (read access for everyone and also write access for the owner of the file)
        create: true
        owner: "{{ user_config.user }}"
      become: "{{ user_config.user != ansible_user }}"
