# For MacOS ("Darwin") systems, Starship is updated as a Homebrew package.

- name: Update Starship
  block:
    - name: Update Starship with homebrew
      when: ansible_facts["os_family"] == "Darwin"
      homebrew:
        name: starship
        state: latest

    - name: Download latest Starship install script
      when: ansible_facts["os_family"] == "Debian"
      get_url:
        url: "https://starship.rs/install.sh"
        dest: "/tmp/starship_install.sh"
        mode: u=rwx,g=rx,o=rx

    - name: Update Starship system-wide
      when: ansible_facts["os_family"] == "Debian"
      command: "sh /tmp/starship_install.sh --bin-dir /usr/local/bin -y"

    - name: Delete Starship install script
      when: ansible_facts["os_family"] == "Debian"
      file:
        path: "/tmp/starship_install.sh"
        state: absent

- name: Get list of users (Debian)
  getent:
    database: passwd
  register: starship_users
  when: ansible_facts['os_family'] == 'Debian'

- name: Get existing users (Darwin)
  when: ansible_facts['os_family'] == 'Darwin'
  block:
    - name: Check home directories exist
      ansible.builtin.stat:
        path: "{{ item.home }}"
      loop: "{{ starship__users_list }}"
      register: starship_darwin_homes
      loop_control:
        label: "{{ item.user }}"

    - name: Set list of existing users (Darwin)
      ansible.builtin.set_fact:
        starship_users_ok: "{{ starship_darwin_homes.results | selectattr('stat.exists') | map(attribute='item.user') | list }}"

- name: Set list of existing users (Debian)
  ansible.builtin.set_fact:
    starship_users_ok: "{{ starship_users.ansible_facts.getent_passwd.keys() | list }}"
  when: ansible_facts['os_family'] == 'Debian'

- name: Configure Starship for users
  include_tasks: configure_user.yaml
  loop: "{{ starship__users_list }}"
  loop_control:
    loop_var: user_config
  when: user_config.user in starship_users_ok
