server {
	listen 443 ssl;
	listen 443 quic;
    server_name {{ wireguard_domain }};

    location / {
        proxy_pass http://127.0.0.1:{{ wireguard_web_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

	error_log /var/www/{{ wireguard_domain }}.log;

	ssl_certificate /etc/letsencrypt/live/{{ wireguard_domain }}/fullchain.pem; # managed by Certbot
	ssl_certificate_key /etc/letsencrypt/live/{{ wireguard_domain }}/privkey.pem; # managed by Certbot
	include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
	listen 80;
	server_name {{ wireguard_domain }};
	return 301 https://$server_name$request_uri;
}
