- name: Install and update Homebrew
  hosts: local
  tasks:
    - include_role:
        name: homebrew
        tasks_from: install
    - include_role:
        name: homebrew
        tasks_from: update

- name: Add SSH hosts configs
  hosts: local
  tasks:
    - include_role:
        name: ssh
        tasks_from: hosts_configs

- name: Install zsh
  hosts: local
  tasks:
    - include_role:
        name: zsh
        tasks_from: main

- name: Install and configure Starship
  hosts: remote
  tasks:
    - include_role:
        name: starship
        tasks_from: install

- name: Install direnv
  hosts: local
  tasks:
    - include_role:
        name: direnv
        tasks_from: main

- name: Install Micro
  hosts: local
  tasks:
    - include_role:
        name: micro
        tasks_from: main

- name: Configure Git
  hosts: local
  tasks:
    - include_role:
        name: git
        tasks_from: main

- name: Install uv
  hosts: local
  tasks:
    - include_role:
        name: uv
        tasks_from: install

- name: Install NVM
  hosts: local
  tasks:
    - include_role:
        name: nvm
        tasks_from: main

- name: Install pnpm
  hosts: local
  tasks:
    - include_role:
        name: pnpm
        tasks_from: main

- name: Install Biome
  hosts: local
  tasks:
    - include_role:
        name: biome
        tasks_from: install

- name: Updating Ruby gems
  hosts: local
  tasks:
    - name: Updating Ruby gems
      command: gem update --system
      register: ruby_result
      changed_when: ruby_result.find("Latest version already installed") == -1
