- name: Install Consul
  hosts: web-bolino,data-bolino,bolino-vm3
  vars:
    consul__server_hosts:
      - "web-bolino"
      - "data-bolino"
    consul__servers:
      - "web-bolino"
      - "data-bolino"
  tasks:
    - name: Clean APT cache
      apt:
        update_cache: true
        cache_valid_time: 0

    - name: Install Consul
      include_role:
        name: consul
        tasks_from: install
