- name: Add SSH keys
  hosts: remote
  tasks:
    - name: Configure SSH keys and settings
      include_role:
        name: ssh
        tasks_from: install

    - name: Configure AllowUsers
      include_role:
        name: ssh
        tasks_from: sshd_allow_users

- name: Set hostname (when prompt_hostname is defined in host_vars)
  hosts: remote
  become: true
  tasks:
    - name: Set system hostname
      ansible.builtin.hostname:
        name: "{{ prompt_hostname }}"
      when: prompt_hostname is defined and prompt_hostname | length > 0

    - name: Ensure hostname resolves in /etc/hosts (127.0.1.1)
      ansible.builtin.lineinfile:
        path: /etc/hosts
        line: "127.0.1.1 {{ prompt_hostname }}"
        insertafter: '^127\.0\.0\.1\s+localhost'
        state: present
      when: prompt_hostname is defined and prompt_hostname | length > 0

- name: Update apt and upgrade packages
  hosts: remote
  vars:
    apt_debian_target_distribution: "trixie"  # Can be overridden when needed
    apt_debian_target_codename: "13"  # For reference
  vars_prompt:
    - name: "confirm_upgrade"
      prompt: "Are you sure you want to upgrade to {{ apt_debian_target_distribution }}? This operation cannot be undone. Type 'yes' to continue"
      private: false
  tasks:
    - name: Configure APT package sources
      include_role:
        name: apt
        tasks_from: install_sources
    - name: Verify user confirmation
      fail:
        msg: "Upgrade cancelled by user"
      when: confirm_upgrade != "yes"
    - name: Perform distribution upgrade
      include_role:
        name: apt
        tasks_from: dist_upgrade
    - name: Upgrade all packages
      include_role:
        name: apt
        tasks_from: upgrade

- name: Install Git
  hosts: remote
  tasks:
    - name: Install Git
      include_role:
        name: git
        tasks_from: install

- name: Configure .bashrc
  hosts: remote
  tasks:
    - name: Configure bash environment
      include_role:
        name: bash
        tasks_from: install

- name: Install zsh
  hosts: remote
  tasks:
    - name: Install and configure zsh shell
      include_role:
        name: zsh
        tasks_from: install

- name: Install and configure Starship
  hosts: remote
  tasks:
    - name: Install Starship prompt
      include_role:
        name: starship
        tasks_from: install

- name: Install and configure fail2ban
  hosts: remote
  tasks:
    - name: Set up fail2ban intrusion prevention
      include_role:
        name: fail2ban
        tasks_from: install

- name: Install and configure UFW
  hosts: remote
  tasks:
    - name: Install UFW
      include_role:
        name: ufw
        tasks_from: install

    - name: Configure UFW rules
      include_role:
        name: ufw
        tasks_from: rules

- name: Install and configure Micro
  hosts: remote
  tasks:
    - name: Install Micro editor
      include_role:
        name: micro
        tasks_from: install

- name: Install bat
  hosts: remote
  tasks:
    - name: Install bat command-line tool
      include_role:
        name: bat
        tasks_from: install

- name: Install Docker
  hosts: web-bolino, data-bolino
  tasks:
    - name: Install Docker
      include_role:
        name: docker
        tasks_from: install

- name: Install and configure rmate
  hosts: remote
  tasks:
    - name: Install rmate remote editor
      include_role:
        name: rmate
        tasks_from: install

- name: Install and configure uv
  hosts: remote
  tasks:
    - name: Install uv package manager
      include_role:
        name: uv
        tasks_from: install

- name: Install and configure direnv
  hosts: remote
  tasks:
    - name: Install and configure direnv
      include_role:
        name: direnv
        tasks_from: install

- name: Add the GitHub Actions user
  hosts: web-bolino
  tasks:
    - name: Configure GitHub Actions runner user
      include_role:
        name: github_actions
        tasks_from: main

- name: Uninstall Apache2
  hosts: remote
  tasks:
    - name: Include Apache2 uninstall tasks
      include_role:
        name: apache2
        tasks_from: uninstall

- name: Install and configure Nginx
  hosts: web-bolino, data-bolino
  tasks:
    - name: Install and configure Nginx web server
      include_role:
        name: nginx
        tasks_from: install
    - name: Backup Nginx virtual hosts configuration
      include_role:
        name: nginx
        tasks_from: backup_vhosts

- name: Install Certbot
  hosts: web-bolino, data-bolino
  tasks:
    - name: Install Certbot and Nginx plugin
      include_role:
        name: certbot
        tasks_from: install

- name: Install WireGuard
  hosts: data-bolino
  tasks:
    - name: Install WireGuard
      include_role:
        name: wg_easy
        tasks_from: install

- name: Install Portainer
  hosts: data-bolino,web-bolino
  tasks:
    - name: Install Portainer and Portainer Agent
      include_role:
        name: portainer
        tasks_from: install
    - name: Configure UFW rules for Portainer
      include_role:
        name: portainer
        tasks_from: ufw

- name: Install Postgres
  hosts: web-bolino
  tasks:
    - name: Install and configure PostgreSQL
      include_role:
        name: postgres
        tasks_from: install

- name: Install databases-remote-backup-scripts
  hosts: web-bolino
  tasks:
    - name: Set up database backup scripts
      include_role:
        name: databases-remote-backup-scripts
        tasks_from: install

- name: Install websites
  hosts: web-bolino
  tasks:
    - name: Deploy and configure websites
      include_role:
        name: websites
        tasks_from: main

- name: Install media websites
  hosts: data-bolino
  tasks:
    - name: Deploy and configure media websites
      include_role:
        name: websites
        tasks_from: media_servers

- name: Install Minecraft server
  hosts: data-bolino
  tasks:
    - name: Include minecraft-server role
      include_role:
        name: minecraft-server
        tasks_from: install
