- name: Update Homebrew and upgrade packages
  hosts: local
  tags:
    - macos
  tasks:
    - name: Update Homebrew packages
      include_role:
        name: homebrew
        tasks_from: upgrade

- name: Update apt and upgrade packages
  hosts: remote
  become: true
  tags:
    - debian
  tasks:
    - name: Upgrade apt packages
      include_role:
        name: apt
        tasks_from: upgrade

- name: Update Docker
  hosts: web-bolino, data-bolino
  become: true
  tags:
    - debian
  tasks:
    - name: Update Docker packages
      include_role:
        name: docker
        tasks_from: update

- name: Update Docker-based services on data-bolino
  hosts: data-bolino
  become: true
  tags:
    - debian
  tasks:
    - name: Include nginx role for handlers
      include_role:
        name: nginx
        tasks_from: install

    - name: Update OmniTools
      include_role:
        name: omnitools
        tasks_from: update

    - name: Update Uptime Kuma
      include_role:
        name: uptime_kuma
        tasks_from: update

    - name: Update WireGuard
      include_role:
        name: wg_easy
        tasks_from: update

    - name: Update Pi-hole
      include_role:
        name: pi-hole
        tasks_from: update

- name: Update Docker-based services on pi-bolino
  hosts: pi-bolino
  become: true
  tags:
    - debian
  tasks:
    - name: Include nginx role for handlers
      include_role:
        name: nginx
        tasks_from: install

    - name: Update Pi-hole
      include_role:
        name: pi-hole
        tasks_from: update

- name: Update Portainer
  hosts: remote
  become: true
  tags:
    - debian
  tasks:
    - name: Include nginx role for handlers
      include_role:
        name: nginx
        tasks_from: install

    - name: Update Portainer
      include_role:
        name: portainer
        tasks_from: update

- name: Prune Docker resources
  hosts: remote
  become: true
  tags:
    - debian
  tasks:
    - name: Prune unused Docker resources
      include_role:
        name: docker
        tasks_from: prune

- name: Update ZSH and plugins
  hosts: all
  tasks:
    - name: Update ZSH
      include_role:
        name: zsh
        tasks_from: update

- name: Update bat
  hosts: all
  tags:
    - macos
    - debian
  tasks:
    - name: Install or upgrade bat
      include_role:
        name: bat

- name: Update eza
  hosts: all
  tags:
    - macos
    - debian
  tasks:
    - name: Install or upgrade eza
      include_role:
        name: eza

- name: Update Starship
  hosts: all
  tags:
    - macos
    - debian
  tasks:
    - name: Update Starship prompt
      include_role:
        name: starship
        tasks_from: update

- name: Update Direnv
  hosts: all
  tasks:
    - name: Add Direnv to ZSH
      include_role:
        name: direnv
        tasks_from: update

- name: Update global pip
  hosts: remote # python is entirely managed by uv on local
  become: true
  tags:
    - debian
  tasks:
    - name: Update pip packages
      ignore_errors: true # pip may be managed by uv, so we don't want to fail if it is
      block:
        - name: Update pip packages
          include_role:
            name: pip
            tasks_from: update

- name: Update fail2ban configurations
  hosts: remote
  become: true
  tags:
    - debian
  tasks:
    - name: Update fail2ban configurations
      include_role:
        name: fail2ban
        tasks_from: update

- name: Update uv
  hosts: all
  tasks:
    - name: Update uv package manager
      include_role:
        name: uv
        tasks_from: update

- name: Update Bun
  hosts: local
  tasks:
    - name: Update Bun package manager
      include_role:
        name: bun
        tasks_from: update

- name: Install databases backup over SCP
  hosts: web-bolino
  tasks:
    - name: Set up database backup scripts
      include_role:
        name: databases_backup_over_scp
