- name: Install bat via Homebrew (MacOS)
  when: ansible_facts["os_family"] == 'Darwin'
  community.general.homebrew:
    name: bat
    state: present

- name: Install bat via apt (Debian)
  when: ansible_facts["os_family"] == 'Debian'
  become: true
  apt:
    name: bat
    state: present
    update_cache: true

- name: Define zshrc alias for bat (replace cat) - macOS
  become: false
  vars:
    zshrc_path: "{{ ansible_facts['env']['HOME'] }}/.zshrc"
  blockinfile:
    path: "{{ zshrc_path }}"
    marker: "# {mark} bat alias added by ansible"
    block: |
      alias cat='bat'
  when: ansible_facts["os_family"] == 'Darwin'

- name: Define zshrc alias for batcat (replace cat) - Debian
  become: false
  vars:
    zshrc_path: "{{ ansible_facts['env']['HOME'] }}/.zshrc"
  blockinfile:
    path: "{{ zshrc_path }}"
    marker: "# {mark} bat alias added by ansible"
    block: |
      alias cat='batcat'
  when: ansible_facts["os_family"] == 'Debian'
